:root {
  --gray-color: #757575;
  --blue-color: #2196f3;
  --black-color: #000000;
  --white-color: #ffffff;
  --dark-color: #212121;
  --footer-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

/* Глобальний сброс свойств css */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}
.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* background-color: orange; */
}
/* section {
  outline: 1px solid red;
} */

/* Header section */
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 93px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.header .logo {
  margin-right: 93px;
}

.logo {
  color: var(--blue-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.active-studio.link {
  color: var(--blue-color);
}

.menu_nav {
  margin-right: auto;
}

.menu-list {
  display: flex;
  gap: 50px;
  color: var(--dark-color);
}
.menu-item {
}
.menu-item:last-child {
}
.menu_link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.contacts-item {
}
.contacts-item:last-child {
}

.mail-icon {
  fill: currentColor;
}
.menu_link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--gray-color);
}

.menu_link :hover {
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu_link:focus {
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .footer-logo {
  color: var(--blue-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
} */

.dark-logo {
  color: var(--black-color);
}
.footer-logo {
  color: var(--white-color);
}

/* Шапка */
.banner-section {
  margin: 0 auto;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/banner/bgi.jpg);
  background-repeat: no-repeat;
  padding: 200px 0;
  background-position: center;
  background-size: cover;
}

/* Шапка */
/* Эффективные решения для вашего бизнеса */
.banner_h1 {
  /* H1 square*/
  /* text in H1 */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.banner_button {
  background: var(--blue-color);
  box-shadow: 0px 4px 4px #00000026;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
/* Особенности */
.info {
  background-color: var(--white-color);
  padding-bottom: 0px;
}
.info-list {
  display: flex;
}
.info-items {
  margin-right: 30px;
  width: 270px;
}
.info-items:last-child {
  margin-right: 0;
}

.info_h2_font {
  color: var(--dark-color);
  font-size: 14px;
  font-weight: 700;

  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info_p {
  /* font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-color); */
}

/* Чем мы занимаемся */
.business_section {
  background-color: var(--white-color);
}

.business_h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 50px;
}
.business-list {
  display: flex;
}
.business-item {
  margin-right: 30px;
  position: relative;
}
/* .business-item::before {
  content: "";
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  margin-top: 224px;
} */
.business-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  color: var(--white-color);
font-weight: 400;
font-size: 16px;
line-height: 19px;

/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
}

.business-item:last-child {
  margin-right: 0;
}
.business_img {
  width: 370px;
  height: 294px;
}

/* Наша команда */
.team_section {
  background-color: var(--white-color);
}

.team-list {
  display: flex;
}

.team-info {
  margin-right: 30px;
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-info:last-child {
  margin-right: 0;
}
.team_h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 50px;
}
.team-wrapper {
  padding: 30px 0;
}
.team-socials-list {
}
.team-socials-item {
  width: 44px;
  height: 44px;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.team-socials-icon {
  fill: currentColor;
}

.team-socials-list{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--dark-grey-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .team-socials-list{
  color: pink;
}
.socials-link-team:hover,
.socials-link-team:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  color: var(--dark-color);
}

.position {
  line-height: 19px;
}

img {
  display: block;
}
/* Постоянные клинты */
.last_h2_font {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  fill: none;
  color: var(--dark-color);
}

/* Подвал */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}


.footer-container {
  display: flex;
}
.footer-address {
  margin-right: 70px;
}
/* .footer-body {
} */
.address {
  font-style: normal;
  color: var(--white-color);
  margin-bottom: 9px;
}

.footer-cont-botton {
  margin-bottom: 9px;
}
.footer-cont-botton:last-child {
  margin-bottom: 0;
}
.footer-cont-botton :hover {
  color: var(--blue-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray-color);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.socials {

}
.socials-item {
  width: 44px;
  height: 44px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* background-color: tomato; */

  /* outline: 1px solid red; */
}

.socials-link:hover,
.socials-link:focus {
  color: var(--white-color);
  background: var(--blue-color);
}

.socials-icon {
  fill: currentColor;
}
/* MODAL IN FOOTER */

.form-footer {
  margin-left: 105px;
}
.h2-modal {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.lable-footer {
}

.input-footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 15px;
  margin-right: 8px;
  background-color: transparent;
  color: var(--white-color);
}

.modal-footer-button {
  width: 200px;
  height: 50px;
  color: var(--white-color);
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.modal-footer-button:hover {
  background: var(--blue-color);
}

/* .footer-contacts:last-child{padding-bottom: 0px;} */

/* PORTFOLIO */

.portfolio_site_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-color);
  margin-bottom: 4px;
}

.portfolio_site_theme {
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
.active-port {
  color: var(--blue-color);
}
.menu_link:hover {
  color: var(--blue-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  background: var(--white-color);
  border-radius: 4px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio.active-port-button {
  color: var(--white-color);
  background: var(--blue-color);
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: white;
  background: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.button-item {
  margin-right: 8px;
}
.button-item:last-child {
  margin-right: 0;
}

.port-img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.port-img-item {
  width: 370px;
  transition: box-shadow 250ms ease;
}
.port-img-item:hover,
.port-img-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.port-img-item:hover .overlay {
  transform: translateY(0%);
}
.port-img-wrapper {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.info-icon {
  width: 70px;
  height: 70px;
}
.info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.stable-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}
.stable-item {
  width: 170px;
  height: 92px;
}
.stable-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.stable-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stable-link:hover,
.stable-link:focus {
  color: var(--blue-color);
  border-color: var(--blue-color);
}
.stable-link:focus {
  color: var(--blue-color);
}

.info-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-icons-item {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  gap: 30px;
}
.info-link {
  width: 70px;
  height: 70px;
}
/* Modal */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0px;
  left: 0px;
}
.modal {
  background: var(--white-color);
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.is-hidden {
  display: none;
}

.hrest {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hrest:hover {
  color: var(--blue-color);
}
textarea {
  resize: none;
}

/* ================ */
/* MODAl  form*/
/* ================ */

.modal {
  padding: 40px;
}

.modal button {
  display: block;
  margin-top: 20px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.modal-form-lable {
  display: block;
  width: 25px;
  height: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--gray-color);
  padding-bottom: 4px;
}
.modal-strong {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  width: 448px;
  height: 23px;
}

.modal-form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 15px;
  padding-left: 30px;
}

.modal-form-input:placeholder-shown {
  border-color: 1px solid rgba(33, 33, 33, 0.2);
}
.modal-form-input:not(:placeholder-shown) {
  border-color: var(--blue-color);
}

/* MODAL IKONS */
.icon-modal-name {
  position: absolute;
  top: 15px;
  left: 14px;
}
.modal-wrapper-inon-f {
  position: relative;
}
.modal-wrapper-inon-t {
  position: relative;
}

.modal-form-textera {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.chek-accept {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

.bth-submit-modal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--blue-color);
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-modal-button {
  color: var(--white-color);
  width: 24px;
  height: 24px;
}
.bth-submit-modal:hover {
  background-color: #188ce8;
  cursor: pointer;
}
