body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

/* Глобальний сброс свойств css */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}
.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* background-color: orange; */
}
/* section {
  outline: 1px solid red;
} */

/* Header section */
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.main_logo_web {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.active-studio.link {
  color: #2196f3;
}

.menu_nav {
  margin-right: auto;
}

.menu-list {
  display: flex;
}
.menu-item {
  margin-right: 50px;
}
.menu-item:last-child {
  margin-right: 0;
}
.menu_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-list {
  display: flex;
  align-items: center;
}
.contacts-item {
  margin-right: 50px;
}
.contacts-item:last-child {
  margin-right: 0;
}

.mail-icon {
  fill: currentColor;
}
.phone-icon {
  fill: currentColor;
}
.menu_contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  gap: 10px;
  color: #757575;
}

.menu_contacts:hover {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.dark-logo {
  color: #000000;
}
.footer-logo {
  color: #ffffff;
}

/* Шапка */
.banner-section {
  margin: auto;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/banner/bgi.jpg);
  background-repeat: no-repeat;
  padding: 200px 0;
  background-position: center;
  background-size: cover;
}

/* Шапка */
/* Эффективные решения для вашего бизнеса */
.banner_h1 {
  /* H1 square*/
  /* text in H1 */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.banner_button {
  background: #2196f3;
  box-shadow: 0px 4px 4px #00000026;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
/* Особенности */
.info {
  background-color: white;
  padding-bottom: 0px;
}
.info-list {
  display: flex;
}
.info-items {
  margin-right: 30px;
  width: 270px;
}
.info-items:last-child {
  margin-right: 0;
}

.info_h2_font {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info_p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Чем мы занимаемся */
.business_section {
  background-color: #ffffff;
}

.business_h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
.business-list {
  display: flex;
}
.business-item {
  margin-right: 30px;
  position: relative;
}
/* .business-item::before {
  content: "";
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  margin-top: 224px;
} */
.business-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.business-item:last-child {
  margin-right: 0;
}
.business_img {
  width: 370px;
  height: 294px;
}

/* Наша команда */
.team_section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-info {
  margin-right: 30px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-info:last-child {
  margin-right: 0;
}
.team_h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
.team-wrapper {
  padding: 30px 0;
}
.team-socials-list {
  margin-top: 16px;
}
.team-socials-item {
  width: 44px;
  height: 44px;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.team-socials-icon {
  fill: currentColor;
}

.socials-link-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link-team:hover,
.socials-link-team:focus {
  color: #fff;
  background-color: #2196f3;
}

.name {
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.position {
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

img {
  display: block;
}
/* Постоянные клинты */
.last_h2_font {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  fill: none;
  color: #212121;
}

/* Подвал */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
}
.footer-address {
  margin-right: 70px;
}
/* .footer-body {
} */
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}
.logo-web-footer {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
}
.footer-cont-botton {
  margin-bottom: 9px;
}
.footer-cont-botton:last-child {
  margin-bottom: 0;
}
.footer-cont-botton :hover {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.socials-item {
  width: 44px;
  height: 44px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* background-color: tomato; */

  /* outline: 1px solid red; */
}

.socials-link:hover,
.socials-link:focus {
  color: white;
  background: #2196f3;
}

.socials-icon {
  fill: currentColor;
}
/* MODAL IN FOOTER */

.form-footer{
  margin-left: 105px;
}
.h2-modal{
  padding-bottom: 20px;
width: 219px;
height: 16px;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.lable-footer{}




.input-footer{
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
padding-left: 15px;
margin-right: 8px;
background-color: transparent;
color: #ffffff;
}

.modal-footer-button{
width: 200px;
height: 50px;
color: #ffffff;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
}
.modal-footer-button:hover{
  background: #2196F3;
}







/* .footer-contacts:last-child{padding-bottom: 0px;} */

/* PORTFOLIO */

.portfolio_site_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio_site_theme {
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.active-port {
  color: #2196f3;
}
.menu_link:hover {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio.active-port-button {
  color: white;
  background: #2196f3;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: white;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.button-item {
  margin-right: 8px;
}
.button-item:last-child {
  margin-right: 0;
}

.port-img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.port-img-item {
  width: 370px;
  transition: box-shadow 250ms ease;
}
.port-img-item:hover,
.port-img-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.port-img-item:hover .overlay {
  transform: translateY(0%);
}
.port-img-wrapper {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.info-icon {
  width: 70px;
  height: 70px;
}
.info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.stable-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}
.stable-item {
  width: 170px;
  height: 92px;
}
.stable-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.stable-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stable-link:hover,
.stable-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}
.stable-link:focus {
  color: #2196f3;
}

.info-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-icons-item {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  gap: 30px;
}
.info-link {
  width: 70px;
  height: 70px;
}
/* Modal */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0px;
  left: 0px;
}
.modal {
  background: #ffffff;
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.is-hidden {
  /* display: none; */
}

.hrest {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.hrest:hover{
  color: #2196f3;

}
textarea {
  resize: none;
}

























/* ================ */
/* MODAl  form*/
/* ================ */

.modal {
  padding: 40px;
}

.modal button {
  display: block;
  margin-top: 20px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.modal-form-lable {
  display: block;
  width: 25px;
height: 14px;
  font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #757575;
padding-bottom: 4px;
}
.modal-strong {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  width: 448px;
  height: 23px;
}






.modal-form-input {
  /* border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px; */
  padding: 10px;
}








.modal-form-input:focus{
  border-color: #2196f3;
}
.modal-form-input{
  color: #2196f3;
  border-color: #2196f3;
} 




/* MODAL IKONS */
.icon-modal-name{
  position: absolute;
  top: 15px;
  left: 14px;
}
.modal-wrapper-inon-f{
  position: relative;
}
.modal-wrapper-inon-t{
  position: relative;
}




.modal-form-textera {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-left: 16px;
padding-right: 16px;
padding-top:12px;
padding-bottom: 12px;

}




.chek-accept{
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}

.bth-submit-modal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.bth-submit-modal:hover{
  background-color: #188CE8 ;
  cursor: pointer;
}

